body {
    margin: 0;
    padding: 0;
    font-family: "PT Sans", sans-serif;
}

.container2 {
    display: flex;
    flex-direction: column;
}

.container2 > * {
    margin-right: auto;
    margin-left: auto;
}

h2 {
    margin-right: auto;
    margin-left: auto;
}

.popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* pending */
    padding: 20px 30px;
    background: #fff;
    border-radius: 4%;
    transform: scale(1.5) translate(-70px,-80px);
    border: 30px rgba(192,192,192,1);
}

.close-btn {
    position: absolute;
    left: 85%;
    top: 1%;
    font-size: 30px;
}

#pop {
    display: none;
}

.form {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    justify-content: center;
}

.form-element {
    display: flex;
    flex-direction: column;
}

#check {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

#book-shelf {
    justify-content: center;
    display: grid;
    margin: 20px;
    /* grid-template-columns: repeat(2, 200px); */
    /* https://www.youtube.com/watch?v=9zBsdzdE4sM */
}

#book-shelf-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    border-radius: 10%;
    width: 300px;
    margin: 10px;
}

#book-shelf-item > * {
    margin: 10px;
    text-align: center;
}

.fab {
    position: fixed;
    right: 40px;
    bottom: 40px;
    background-color: #608000;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    background: #608000;
    border: none;
    outline: none;
    color: #FFF;
    font-size: 36px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    transition: .3s;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.fab:focus {
transform: scale(1.1);
transform: rotate(45deg);
-ms-transform: rotate(45deg);
-webkit-transform: rotate(45deg);
}

.header {
text-align: center;
font-size: 50px;
color: white;
padding: 10px;
background: #608000;
}

.overlay {
display:none;
position: absolute;    
width:100%;
height:100%;
background-color: gray;
opacity: .8;
}